/* Customize your main colors in :root variables */
:root {
  --main-background-color: #4f1bc7;
  --card-background-color: #93c71b;
  --card-background-lighter-color: #1bc7a5;
  --main-text-color:#c71b3d;
  --title-text-color:#4f1bc7;
}

body{
  background-color:var(--main-background-color);
  /*background: url("img/background.png");
  background-size: cover;*/

  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



